$site-width: 600px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'EB Garamond', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
}

a {
  font-family: 'Oxygen', sans-serif;
  border-bottom: 1px solid rgba(0,0,0,0);
  text-decoration: none;
  transition: color .1s linear;
  transition: border .1s linear;

  color: $blue-color;

  &:hover {
    color: $orange-color;
    border-bottom: 1px solid $orange-color;
  }
}

p {
  a {
    font-size: .8rem;
  }
}

i {
  &.fa {
    transition: color .1s linear;

    &:hover {
      color: $orange-color;
    }
  }
}

ul {
  list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
