<footer class="site-footer">
  <nav class="site-footer-nav">
    <ul class="social-media-list">
      <li class="social-media-item">
        <a href="https://github.com/{{ site.github_username }}" title="github">
          <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        </a>

      </li>

      <li class="social-media-item">
        <a href="https://twitter.com/{{ site.twitter_username }}" title="twitter">
          <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
        </a>
      </li>

      <li class="social-media-item">
        <a href="https://codepen.io/{{ site.codepen_username }}" title="codepen">
          <i class="fa fa-codepen fa-3x" aria-hidden="true"></i>
        </a>
      </li>

      <li class="social-media-item">
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" title="linkedin">
          <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>
</footer>
